<a href="https://colab.research.google.com/github/a3s0h/pandas.py/blob/main/pandas_basic_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

###`Q-1:` Write a program to create an empty series.

In [ ]:
# code here
empty_s = pd.Series([])
empty_s
empty_s.size

<ipython-input-17-6d0f94fd7f4b>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s = pd.Series([])

0

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
# code here
s1 = pd.Series([1,100,34,3])
s2 = pd.Series([10,110,4,13])
print("s1: ",s1)
print("s2: ",s2)

s1:  0      1
1    100
2     34
3      3
dtype: int64
s2:  0     10
1    110
2      4
3     13
dtype: int64

In [ ]:
# add 
s1+s2
# subtract
s1-s2
# multiply
s1 * s2
# divide
s1 / s2

0    0.100000
1    0.909091
2    8.500000
3    0.230769
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [ ]:
# code here
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series( [1, 3, 5, 7, 10])
(s1 == s2)

0    False
1    False
2    False
3    False
4     True
dtype: bool

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [ ]:
# code here
series = pd.Series([1,2,'Python', 2.0, True, 100])


def change_type(ser):
  new_series = pd.to_numeric(ser,errors = 'coerce')
  return new_series

print(change_type(series))

0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

In [ ]:
data = pd.read_csv('/content/batsman_runs_series.csv',squeeze=True,index_col='batter')

In [ ]:
type(data)

pandas.core.series.Series

###`Q-6` Find top 10 most run getter from the series.

In [ ]:
# code here
top_ten = data.sort_values(ascending=False).head(10)

In [ ]:
top_ten

batter
V Kohli           6634
S Dhawan          6244
DA Warner         5883
RG Sharma         5881
SK Raina          5536
AB de Villiers    5181
CH Gayle          4997
MS Dhoni          4978
RV Uthappa        4954
KD Karthik        4377
Name: batsman_run, dtype: int64

###`Q-7` No of players having runs above 3000

In [ ]:
# code here
data[(data > 3000)].sum()

92166

###`Q-8` No of players having runs above mean value?

In [ ]:
data.mean()

464.42809917355373

In [ ]:
# code here
data[data > data.mean()].sum()

240654

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9` 
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [ ]:
# code here
items = pd.read_csv("/content/items.csv",squeeze = True,index_col = "item_name")
items.head(5)

item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
Name: item_price, dtype: object

In [ ]:
items.isnull().sum()        # number of nan values

50

In [ ]:
new_list = items.apply(lambda x : float(str(x).strip("$"))*82.0)       # Item price is given in $, so convert it to rupees without currency symbol.

In [ ]:
# Make data type of newly made series as float.
pd.to_numeric(items,errors="coerce")

item_name
Chips and Fresh Tomato Salsa            NaN
Izze                                    NaN
Nantucket Nectar                        NaN
Chips and Tomatillo-Green Chili Salsa   NaN
Chicken Bowl                            NaN
                                         ..
Steak Burrito                           NaN
Steak Burrito                           NaN
Chicken Salad Bowl                      NaN
Chicken Salad Bowl                      NaN
Chicken Salad Bowl                      NaN
Name: item_price, Length: 4622, dtype: float64

In [ ]:
# iv. Fill nan with mean of the series
new_list.fillna(new_list.mean(),inplace = True)

In [ ]:
new_list.isnull().sum()

0

###`Q-10`: 
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here
new_list.mean()

611.9685826771653

In [ ]:
# . Plot Histogram on price with bin size 50